<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=width-device, initial-scale=1.0">
		<link rel="shortcut icon" href="touro.svg" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static.css">
		<title>Lego Bulls</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><div id="block"></div></li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<img src="touro.svg" alt="touro lego bulls">
		        <div id='descrition'>
		          <h2>Lego Bulls</h2>
		          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias molestias eos, facere aut labore repudiandae odio sed eveniet, ipsum modi cupiditate ipsa consequatur, exercitationem iusto vel laudantium id voluptatem.</p>
		        </div>
		        <div id="login">
		          <form action="/signup" method="post">
		          	<input type="text" name="name" required placeholder="nome">
		          	<input type="text" name="email" required placeholder="email">
		            <input type="password" name="password" required placeholder="senha">
		            <button>cadastrar</button>
		            <p>já é cadastrado? <a href="/login">entrar</a></p>
		          </form>
		        </div>
			</section>
			<footer><p>&copy; Lego bulls</p></footer>
		</main>
	</body>
</html>