<!DOCTYPE html>
<html lang="pt-br">
  <header>
    <meta name="viewport" content="width=width-device, initial-scale=1.0"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static.css">
    <title>Lego Bulls</title>
  </header>
  <body>
    <header>
      <nav>
        <ul>
          <li><div id="block"></div></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <img src="touro.svg" alt="touro lego bulls">
        <div id='descrition'>
          <h2>Lego Bulls</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias molestias eos, facere aut labore repudiandae odio sed eveniet, ipsum modi cupiditate ipsa consequatur, exercitationem iusto vel laudantium id voluptatem.</p>
        </div>
        <div id="login">
          <form action="/" method="post">
            <input type="text" name="name_email" required placeholder="nome/email">
            <input type="password" name="password" required placeholder="senha">
            <button>entrar</button>
            <p>não é cadastrado? <a href="/cadastro">se cadastrar</a></p>
          </form>
        </div>
      </section>
      <footer>
        <p>&copy; Lego Bulls</p>
      </footer>
    </main>
  </body>
  <script>
  </script>
</html>